<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="salmon.tuna.brandon.loginsample">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".LoginApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sub1Activity"
            android:label="Sub1" />
        <activity
            android:name=".Sub2Activity"
            android:label="Sub2" />
        <activity
            android:name=".Sub3Activity"
            android:label="Sub3" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:noHistory="true" />
        <activity
            android:name=".SettingActivity"/>
    </application>

</manifest>